<div class="wrapper">

    <div class="main">
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">

                </div>
                <div class="row justify-content-md-left sharing-area text-left"
                    style="margin-bottom: 40px;">
                    <div class="text-left col-md-12 col-lg-12">
                        <button type="button" (click)="gotoArticleByCategory(category.id)" name="category" *ngFor="let category of catrgories"
                            class="btn btn-danger btn-link" style="margin-right: 0.8rem;
                            color: #1919bb;
                            background-color: #eaeaff;
                            border-radius: 2rem;
                            text-transform: capitalize;
                            font-size: 14px;
                            font-family: NunitoSans-Bold;">{{category.category_name}}</button>
                        <!-- <a href="#pablo" *ngFor="let category of catrgories"  class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip"
                            title="Tweet!">
                            <i class="fa fa-twitter"></i> {{category}}
                        </a> -->
                        <!-- <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip"
                            title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit"
                            class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <div class="page-carousel">
                            <!-- <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/bg-header.png" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere else</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/bg-header.png" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Here it is</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel> -->
                            <div id="slider">
                                <div class="slider__item">
                                  <img src="./assets/img/bg-header.png" alt="">
                                </div>
                                <div class="slider__item">
                                  <img src="./assets/img/bg-header.png" alt="">
                                </div>
                                <div class="slider__item">
                                  <img src="./assets/img/bg-header.png" alt="">
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row example-page">
                    <!-- List of Article -->
                    <div class="col-md-8">
                        <div class="" routerLinkActive="active" *ngFor="let article of result; let i = index">
                            <div class="row" (click)="gotoDetails(article.id)" style="margin-top: 20px; margin-bottom: 40px;">
                                <div class="col-md-8">
                                    <div class="row mb-1" >
                                        <div class="col-md-9">
                                            <p class="mb-0" style="font-family: NunitoSans-Bold;">{{article.category_travel.category_name}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <button style="
                                                margin-left: 30px;
                                                border: none;
                                                cursor: pointer;
                                                background: #c7c6c6;
                                                border-radius: 2rem;">
                                                <i class="fa fa-bookmark"></i>
                                            </button>
                                            <button style="float: right;
                                            border: none;
                                            cursor: pointer;
                                            background: transparent;">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p style="font-family: Rubik-Medium;
                                        font-size: 21px;
                                        color: #202020;"><b>{{article.title}}</b></p>
                                    </div>
                                    <div class="">
                                        <p style="color: #35405A;
                                        font-family: NunitoSans-Regular;
                                        font-size: 16px;">{{article.description.substring(0,120)+"..."}}</p>
                                    </div>
                                    <div class="row" style="position: absolute;
                                    width: 100%;
                                    bottom: 0;">
                                        <div class="row col-md-9" style="color: #9F9F9F;">
                                            <div class="col-md-9 d-flex">
                                                <p style="font-family: NunitoSans-Regular; margin-right: 0.4rem;">{{article.created_date | date:'dd MMM' }}</p>
                                                <p style="font-family: NunitoSans-Regular;"> • {{article.time}} min read</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p style="color: #143ABE;
                                            text-align: right;
                                            font-size: 16px;
                                            text-transform: capitalize;
                                            font-family: NunitoSans-SemiBold;"><b>{{article.created_by}}</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row text-center" routerLinkActive="active">
                                        <a >
                                            <img src="{{article.url_file}}" alt="Rounded Image"
                                                class="img-rounded img-responsive" style="width: 150px;margin: 0 0; height: 150px; object-fit: cover;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Separator -->
                    <!-- <div class="col-md-1"></div> -->

                    <!-- Popular Article -->
                    <div class="col-md-4">
                        <div class="text-left" style="margin-bottom: 20px;">
                            <h3 style="color: #202020;
                            font-family: Rubik-Medium;
                            font-size: 28px;">Popular Article</h3>
                        </div>

                        <div class="text-left" routerLinkActive="active" style="  margin-top: 35px; margin-bottom: 45px;" *ngFor="let popular of result; let i = index">
                            <div [routerLink]="['/user-profile']" class="row">
                                <div class="col-md-1" style="margin-right: 24px;">
                                    <h3 style="margin-top: -7px; font-family: Rubik-Regular;
                                    color: #C2C2C2;
                                    font-size: 32px;">0{{i+1}}</h3>
                                </div>
                                <div class="col-md-10" >
                                    <div><i style="font-family: NunitoSans-Bold;
                                        color: #707070;
                                        font-size: 15px;
                                        font-style: normal;">{{popular.category_travel.category_name}}</i></div>
                                    <div class="mt-2 mb-2">
                                        <p style="font-size: 21px;
                                        color: black;
                                        font-family: Rubik-Medium;"><b>{{popular.title}}</b></p>
                                    </div>
                                    <div>
                                        <i style="    font-family: NunitoSans-Regular;
                                        font-style: normal;
                                        color: #A4A4A4;">{{popular.created_date |  date:'dd MMM'}} • </i>
                                        <i style="    font-family: NunitoSans-Regular;
                                        font-style: normal;
                                        color: #A4A4A4;">{{popular.time}} min read</i>
                                    </div>
                                    <!-- <div><a [routerLink]="['/user-profile']">
                                        <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image"
                                            class="img-rounded img-responsive" style="width: 100%">
                                        <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile
                                            Page</a>
                                    </a></div> -->


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Nucleo Icons</h2><br />
                        <p class="description">
                            Now UI Kit comes with 100 custom icons made by our friends from NucleoApp. The official
                            package contains over 2.100 thin icons which are looking great in combination with Now UI
                            Kit Make sure you check all of them and use those that you like the most.
                        </p><br />
                        <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                        <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round"
                            target="_blank">View All Icons</a>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Completed with examples</h2>
                        <p class="description">The kit comes with three pre-built pages to help you get started faster.
                            You can change the text and images and you're good to go. More importantly, looking at them
                            will give you a picture of what you can built with this powerful kit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <div class="social-line text-center">
                                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-email-85"></i>
                                        </span>
                                    </div>

                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-key-25"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register
                                Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image"
                                class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile
                                Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you like what you see?</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and
                            download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2"
                            class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular"
                            class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip"
                            title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip"
                            title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit"
                            class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>