<nav class="shadow-sm navbar navbar-expand-lg fixed-top">
    <div class="container" style="width: 510px;">
        <div class="navbar-translate">
            <a href><img src="assets/img/cgo-mini.png" alt="cgo-mini"></a>
            <a class="navbar-brand" (click)="redirectSailing()" href="https://cgo.co.id/sailing/index">sailing</a>
            <a class="navbar-brand" (click)="redirectTour()" href="https://cgo.co.id/Tour/tour">tour</a>
            <a class="navbar-brand" (click)="redirectTransportation()" href="https://cgo.co.id/Transportation/transportation">transportation</a>
            <a class="navbar-brand" href="">blog</a>

            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
    </div>
    <div class="input-group col-md-4">
          <input type="text" class="form-control" placeholder="Search Article" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="nc-icon nc-zoom-split"></i></span>
          </div>
  </div>
</nav>