<div class="main">
    <div class="section text-left">
        <div class="container">
            <!-- <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div> -->
            <br /><br />
            <div class="">
                <div class="card-category">
                    <p>Travel Tips</p>
                </div>
                <div class="title">
                    <h3 class="info-title">
                        How to travel the world and get companies to pay for it.
                    </h3>
                </div>
                <div class="row">
                    &nbsp; &nbsp;&nbsp;<p>10 Jan</p> &nbsp; &nbsp;
                    <p>•</p> &nbsp; &nbsp;
                    <p>5 min read</p>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                            class="img-circle img-no-padding img-responsive" width="70%">
                    </div>
                    <div class="">
                        <h3>John Titor</h3>
                    </div>
                    <div class="card-footer text-right" style="margin-left: 500px;">
                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <br>
                <div>
                    <img src="./assets/img/banner-sample.png" alt="Gamabr Pantai"
                        style="width: -webkit-fill-available;">
                </div>
                <br> <br>
                <div class="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem neque, dignissim in enim
                        in, ornare pulvinar est. Ut sagittis turpis non tellus vulputate consectetur. Proin posuere
                        ullamcorper metus, suscipit viverra dui bibendum sed. Donec tristique finibus nulla, non
                        placerat ligula congue. </p><br>
                    <p>
                        Maecenas vitae laoreet nisi, a sodales ligula. Donec pretium sapien facilisis risus rutrum
                        porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non mauris in velit
                        scelerisque egestas sed in sapien. Etiam euismod arcu eget viverra malesuada. Mauris
                        pretium non leo et ultrices. Nunc eleifend enim in hendrerit hendrerit. Vivamus porttitor
                        orci nec lorem gravida vestibulum.</p> <br>
                    <p>
                        It starts to feel like he’s got you on a roller coaster. Some days, he’s hitting on you and
                        other
                        days he acts annoyed that you texted him.</p><br>
                    <p>
                        You worry that this might not be the start of the romance you hoped it would be. <br>
                        <b>But you’ve got a real talent for coming up with explanations for his behavior.</b>
                    </p>

                    <div class="row" style="margin-left: 10px;">
                        <button class="btn btn-primary btn-round btn-sm" style="margin-right: 10px;">Islan</button>
                        <button class="btn btn-primary btn-round btn-sm" style="margin-right: 10px;">Travel
                            Tips</button>
                        <button class="btn btn-primary btn-round btn-sm" style="margin-right: 10px;">Travel
                            Planning</button>
                    </div>

                    <br> <br> <br> <br>
                    <h3><b>We have several articles that are suitable for you</b></h3>

                    <div class="col-md-8">
                        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p>Travel Tips</p>

                                    </div>
                                    <div class="col-md-3">
                                        <button style="">
                                            <i class="fas fa-bookmark"></i>
                                        </button>
                                        <button>
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="">
                                    <p><b>How to travel the world and get companies to pay for it.</b></p>
                                </div>
                                <div class="">
                                    <p>Sponsorships are like unicorns or leprechauns, talked about often
                                        but they don’t actually exist. There is only dollars and cents, th...</p>
                                </div>
                                <div class="row">
                                    <div class="row col-md-9">
                                        <div class="col-md-3">
                                            <p>10 Jan</p>
                                        </div>
                                        <div class="col-md-1"><i class="fas fa-circle"></i></div>
                                        <div class="col-md-4">
                                            <p>5 min read</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <p><b>Admin CGO</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row text-center" routerLinkActive="active">
                                    <a>
                                        <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                            class="img-rounded img-responsive" style="width: 100%;margin: 0 0;">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p>Travel Tips</p>

                                    </div>
                                    <div class="col-md-3">
                                        <button style="">
                                            <i class="fas fa-bookmark"></i>
                                        </button>
                                        <button>
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="">
                                    <p><b>How to travel the world and get companies to pay for it.</b></p>
                                </div>
                                <div class="">
                                    <p>Sponsorships are like unicorns or leprechauns, talked about often
                                        but they don’t actually exist. There is only dollars and cents, th...</p>
                                </div>
                                <div class="row">
                                    <div class="row col-md-9">
                                        <div class="col-md-3">
                                            <p>10 Jan</p>
                                        </div>
                                        <div class="col-md-1"><i class="fas fa-circle"></i></div>
                                        <div class="col-md-4">
                                            <p>5 min read</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <p><b>Admin CGO</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row text-center">
                                    <a>
                                        <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image"
                                            class="img-rounded img-responsive" style="width: 100%;margin: 0 0;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>