<div class="blog">
    <div class="row">
      <div class="col-lg-2">
        <div class="blog-profile">
          <img src="assets/img/avatar.png" class="avatar">
          <p><strong>John Titor</strong></p>
          <small class="article-type">Articles about sex, love, and relationship</small>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="d-flex flex-row">
          <i class="fas fa-arrow-left icon-back"></i>
          <p>Travel Tips</p>
        </div>
        <div class="blog-content">
          <div class="blog-title">
            <h4><strong>How to travel the world and get companies to pay for it.</strong></h4>
          </div>
          <div class="blog-info">
            <small>10 Jan • 5 min read</small>
          </div>
          <div class="blog-account">
            <div class="d-flex flex-row">
              <img src="assets/img/avatar.png" class="avatar-more">
              <p><strong>John Titor</strong></p>
            </div>
            <div>
              <i class="fab fa-twitter icon-media"></i>
              <i class="fab fa-facebook-square icon-media"></i>
              <i class="fas fa-share-alt icon-media"></i>
            </div>
          </div>
          <img src="assets/img/beach.jpg" alt="blog image" class="blog-image">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          <p style="background-color: #E4EBFF">It starts to feel like he's got you on a roller coaster. Some days, he's hitting on you and other days he acts annoyed that you texted him.</p>
          <p>You worry that this might not be the start of the romance you hoped it would be.</p>
          <p><strong>But you've got a real talent for coming upp with explanations for this behavior.</strong></p>
          <div class="d-flex">
            <button class="blog-button">Island</button>
            <button class="blog-button">Travel Tips</button>
            <button class="blog-button">Travel Planning</button>
          </div>
          <div class="blog-suggest">
            <p><strong>We have several articles that are suitable for you</strong></p>
            <div class="blog-other d-flex flex-column">
              <div class="card d-flex flex-row justify-content-between">
                <div class="container d-flex flex-column">
                  <p><strong>How to travel the world and get companies to pay for it.</strong></p>
                  <small style="color: darkgrey">Sponsorship are like unicorns or leprechauns, talked about</small>
                  <br>
                  <small style="color: darkgrey">20 Feb • 5 min read</small>
                </div>
                <img src="assets/img/beach1.jpg">
              </div>
              <div class="card d-flex flex-row justify-content-between">
                <div class="container d-flex flex-column">
                  <p><strong>How to travel the world and get companies to pay for it.</strong></p>
                  <small style="color: darkgrey">Sponsorship are like unicorns or leprechauns, talked about</small>
                  <br>
                  <small style="color: darkgrey">20 Feb • 5 min read</small>
                </div>
                <img src="assets/img/beach1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-column">
      <p><strong>More Article</strong></p>
      <div class="blog-more row">
        <div class="blog-more-item col-lg-4">
          <img src="assets/img/swimming pool.jpeg" class="blog-more-img">
          <h5><strong>How to travel the world and get companies to pay for it.</strong></h5>
          <div class="d-flex flex-row" style="margin-top: 30px;">
            <img src="assets/img/avatar.png" class="avatar-more">
            <div class="d-flex flex-column">
              <p style="margin:0"><strong>John Titor</strong></p>
              <p style="color: darkgrey; margin: 0;">10 Jan • 5 min read</p>
            </div>
          </div>
        </div>
        <div class="blog-more-item col-lg-4">
          <img src="assets/img/swimming pool.jpeg" class="blog-more-img">
          <h5><strong>How to travel the world and get companies to pay for it.</strong></h5>
          <div class="d-flex flex-row" style="margin-top: 30px;">
            <img src="assets/img/avatar.png" class="avatar-more">
            <div class="d-flex flex-column">
              <p style="margin:0"><strong>John Titor</strong></p>
              <p style="color: darkgrey; margin: 0;">10 Jan • 5 min read</p>
            </div>
          </div>
        </div>
        <div class="blog-more-item col-lg-4">
          <img src="assets/img/swimming pool.jpeg" class="blog-more-img">
          <h5><strong>How to travel the world and get companies to pay for it.</strong></h5>
          <div class="d-flex flex-row" style="margin-top: 30px;">
            <img src="assets/img/avatar.png" class="avatar-more">
            <div class="d-flex flex-column">
              <p style="margin:0"><strong>John Titor</strong></p>
              <p style="color: darkgrey; margin: 0;">10 Jan • 5 min read</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  