<footer class="footer" style="overflow-x: hidden;">
    <div id="blue">
        <div class="row">
            <div class="credits col-md-5 offset-md-1">
                <span id="click-to-action-footer">
                    Be the first to get special promos and best offers
                </span>
            </div>
            <div class="col-md-3" >
                <div class="form-group has-success" style="margin-top:20px">
                    <input type="text" class="form-control footer-email-address" value="Your Email Address">
                </div>
            </div>

            <div class="col-md-2" >
                <button type="button" class="btn btn-subscribe" id="" style="padding-left: 75px;padding-right: 75px;margin-top:20px;" >Subscribe</button>
            </div>
        </div>
        <div class="container" style="padding-bottom: 100px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Company</span>
                    </div>
                    <div class="row footer-details">
                        About
                    </div>
                    <div class="row footer-details">
                        Merchant
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Customer Care</span>
                    </div>
                    <div class="row footer-details">
                        FAQ
                    </div>
                    <div class="row footer-details">
                        Terms & Conditions
                    </div>
                    <div class="row footer-details">
                        Privacy Policy
                    </div>
                    <div class="row footer-details">
                        Contact Us
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Connect With Us</span>
                    </div>
                    <div class="row footer-details">
                        <span><i class="fa fa-instagram" style="font-size: 20px;" aria-hidden="true"></i></span>
                        <span style="margin-left: 5px; font-size: 20px;"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <span style="margin-left: 5px; font-size: 20px;"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</footer>
<footer class="footer" style="overflow-x: hidden;">
    <div id="dark-blue">
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <span>PT DTech Solusi Bisnis</span>
            </div>
            <div class="col-md-3">
                <span>@2020 cGO. All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">