<footer class="footer" style="overflow-x: hidden;">
    <div id="blue">
        <div class="row py-0" id="dark-blue">
            <div class="credits col-md-5 offset-md-1">
                <span id="click-to-action-footer" style="color: white;">
                    Be the first to receive our updated news!
                </span>
            </div>
            <div class="col-md-3" >
                <div class="form-group has-success" style="margin-top:20px">
                    <input type="text" class="form-control footer-email-address" placeholder="Your Email Address" >
                </div>
            </div>

            <div class="col-md-2" >
                <button type="button" class="btn btn-subscribe" id="" style="padding-left: 75px;padding-right: 75px;margin-top:20px;" >Subscribe</button>
            </div>
        </div>
        <div class="container mt-5" style="padding-bottom: 100px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Company</span>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/home/aboutus">About</a>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/Merchant/merchant">Merchant</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Customer Care</span>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/Home/faq">FAQ</a>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/Home/termofuse">Terms & Conditions</a>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/Home/privacy-policy">Privacy Policy</a>
                    </div>
                    <div class="row footer-details">
                        <a href="https://cgo.co.id/Home/contactus">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row footer-details">
                        <span style="font-weight: bold; font-size: 14px;">Connect With Us</span>
                    </div>
                    <div class="row footer-details">
                        <span><a href="https://www.instagram.com/cgoindonesia/?hl=en" target="_blank"><i class="fa fa-instagram" style="font-size: 20px;" aria-hidden="true"></i></a></span>
                        <!-- <span style="margin-left: 5px; font-size: 20px;"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <span style="margin-left: 5px; font-size: 20px;"><i class="fa fa-linkedin" aria-hidden="true"></i></span> -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</footer>
<footer class="footer" style="overflow-x: hidden;">
    <div>
        <div class="row">
            <!-- <div class="col-md-3 offset-md-3">
                <span>PT DTech Solusi Bisnis</span>
            </div> -->
            <div class="col-md-3">
                <span>@2020 cGO. All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">